
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="file-manager">    
                        <div class="hr-line-dashed"></div>
                        <button class="btn btn-primary btn-block">Dosya Yükle</button>
                        <div class="hr-line-dashed"></div>
                        <h5>Dosyalar</h5>
                        <ul class="folder-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-folder"></i> Sözleşmeler</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> BLD Planları</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> Ürünler</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> Bakım Kartları</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> Tüm Dokümanlar</a></li>
                            <li><a href=""><i class="fa fa-folder"></i> Resimler </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="file-box">
                        <div class="file">
                            <a href="#">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    Document_2014.doc
                                    <br />
                                    <small>Added: Jan 11, 2014</small>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>