
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Doküman Oluştur</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/DokumanListe/ListeIndex/">DokumanListe</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Doküman Oluştur</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<br />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Doküman Oluştur</h5>
                </div>
                <div class="ibox-content">
                    <a href="~/KapakSayfa/KapakEkle/" type="button" class="btn btn-primary">Kapak Sayfası</a>
                    <a href="~/OnaySayfasi/OnaySayfaIndex/" type="button" class="btn btn-secondary">Onay Sayfası</a>
                    <a href="~/DegisiklikIzleme/DegisiklikEkle/" type="button" class="btn btn-success">Değişiklik İzleme</a>
                    <a href="~/ReferansDokuman/ReferansEkle/" type="button" class="btn btn-info">Referans Dokümanlar</a>
                    <a href="~/YazilimVersiyon/YazilimEkle/" type="button" class="btn btn-warning">Yazılım ve Versiyon</a>
                    <a href="~/EmniyetTalimatlari/EmniyetEkle/" type="button" class="btn btn-light">Emniyet Talimatları</a>
                    <a href="~/Urunler/UrunEkle/" type="button" class="btn btn-danger">Ürün Teknik Özellikleri</a>

                </div>
            </div>
        </div>
    </div>
</div>
