@using MARS.Models.Entity
@model List<Kapak>
@{
    ViewBag.Title = "KapakIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Kapak Sayfaları</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">AnaSayfa</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Kapak Sayfaları</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h4>Kapak Sayfaları</h4>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Proje Kodu</th>
                                    <th>TEK.DOK.ADI</th>
                                    <th>TEK.DOK.NO</th>
                                    <th>Dosyalar</th>
                                </tr>
                            </thead>
                            @foreach (var k in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>@k.ProjeAdi</td>
                                        <td>@k.DokumanAdi</td>
                                        <td>@k.DokumanListe.TekdokNo</td>
                                        <td>
                                            @Html.ActionLink("Download", "Download", new { fileName = k.DosyaYolu})
                                        </td>
                                        
                                       

                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



